<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app>

<input type="text" name="" value="" placeholder="Your Name" ng-model="user.name">

<p>
	{{user.name}}
</p>

<script src="bower_components/angular/angular.js" type="text/javascript"></script>

</body>
</html>