<h2>Single Gist</h2>

<p>{{myGist.description}}</p>
<p>{{myGist.created_at}}</p>

<h2>Gists</h2>

<table>
	<tbody>
		<tr ng-repeat="gist in gists">
			<td>{{gist.id}}</td>
			<td>{{gist.description}}</td>
			<td>{{gist.created_at}}</td>
		</tr>
	</tbody>
</table>