<h2>Users</h2>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="user in users | orderBy: 'name'">
			<td>{{user.id}}</td>
			<td>{{user.name | dashes}}</td>
			<td email-link="user.email"></td>
		</tr>
	</tbody>
</table>

<hr>

<h3>Add New User</h3>

<form name="userForm" ng-submit="addUser()">
	
	<div class="form-group">
		<label for="name">User's Name</label>
		<input type="text" class="form-control" name="name" placeholder="User's Name" ng-model="newUser.name">
	</div>

	<div class="form-group">
		<label for="email">User's Email</label>
		<input type="email" class="form-control" name="email" placeholder="User's Email" ng-model="newUser.email">
	</div>

	<div class="form-group">
		<button class="btn btn-primary">Add New User</button>
	</div>
	
</form>